/* HEADER */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0.1em 0.1em rgba(102, 102, 102, 0.1);
}

/* Header.css */
.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 1em;
}

.logo img {
    height: 2.6em;
}

.headerRight {
    display: flex;
    align-items: center;
}

.planifierButton {
    background-color: #c93c2c;
    padding: 0.45em 0.6em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin: 0 1em;
}

.planifierButton i {
    margin-right: 0.4em;
    font-size: 1em;
}

.planifierButton:hover {
    background-color: #b73c2e;
}

.notificationIcon {
    position: relative;
    margin-right: 1em;
    font-size: 1.3em;
    cursor: pointer;
}

.notificationIcon:hover {
    color: #2e3030;
}

.notificationCount {
    display: flex;
    position: absolute;
    top: -0.2em;
    right: 0.4em;
    background-color: #e0240f;
    color: white;
    border-radius: 1em;
    height: 1em;
    width: 1.05em;
    border-radius: 100%;
    font-size: 0.5em;
    align-items: center;
    justify-content: center;
}

.profileBubble {
    top: -0.625em;
    right: -0.625em;
    background-color: #464849;
    color: white;
    border-radius: 2em;
    width: 2.1em;
    height: 2.1em;
    font-size: 1.15em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profileBubble:hover {
    background-color: #2e3030;
}

.profileMenu {
    position: fixed;
    top: 3.7em;
    right: 1.3em;
    z-index: 1000;
    padding: 0.5em 1em;
    border: 0.1em solid #e9e9e9;
    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: 0 0.18em 0.2em rgba(0, 0, 0, 0.1);
}

ul li {
    list-style: none;
    padding: 0.3em 0;
}

ul li:hover {
    text-decoration: underline;
    color: #c93c2c;
}

.profileMenu ul li a i {
    margin-left: 0.3em;
}

/* SIDEBAR */
.sidebar {
    margin-left: 0.8em;
    height: auto;
    margin-top: 0.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin: 0.6em;
    padding: 0.3em;
}

.sidebar li a {
    display: flex;
    align-items: center;
    margin-left: 0.6em;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 450;
    color: black;
}

.sidebar li i {
    margin: 0em 0.4em 0em 0em;
    font-size: 0.8em;
}

.sidebar li:hover a,
.sidebar li:hover i {
    color: white;
}

.sidebar li:hover {
    padding: 0.3em;
    background-color: #c93c2c;
    border-radius: 0.3em;
}

i {
    width: 1.25em;
}

/* Placement des deux divisions sidebar entre elles */
.sidebarAndOrange {
    display: flex;
    position: fixed;
    top: 5.5em;
}

/* Couleur orange de la div pour le liseret de la sidebar */
.sideOrange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c93c2c;
    height: auto;
    width: 0.7em;
    margin: 0.2em 0;
    border-top-right-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    cursor: pointer;
}

/* Rotation de l'icône de flèche */
.sideOrange i {
    transform: rotate(90deg);
    color: white;
}

.active {
    padding: 0.3em;
    background-color: #c93c2c;
    border-radius: 0.3em;
    color: #fff;
}

.active a {
    color: white !important;
}

.CreatemodalOverlay {
    position: fixed;
    top: 3.7em;
    right: 7.3em;
    z-index: 1000;
    padding: 0.85em 1em;
    border: 0.1em solid #e9e9e9;
    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: 0 0.18em 0.2em rgba(0, 0, 0, 0.1);
}

.CreatemodalContent a i {
    margin-left: 0.3em;
}

.CreatemodalContent a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #c93c2c;
}

.CreatemodalContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5em;
}
