* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header.css */
.headerDiv {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    padding: 0 1.25em;
    height: 5em;
    border-radius: 0 0 0.6em 0.6em;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
    width: 100vw;
}

.title {
    margin: 0;
    font-size: 1.6em;
    font-weight: 600;
}

.headerRight {
    display: flex;
    align-items: center;
}

.notificationBell {
    height: 1.5em;
}

.notificationIcon {
    position: relative;
    margin-right: 1em;
    font-size: 1.5em;
}

.notificationCount {
    display: flex;
    position: absolute;
    top: -0.25em;
    right: -0.35em;
    background-color: #cf2f1d;
    color: white;
    border-radius: 1em;
    height: 1.2em;
    width: 1em;
    font-size: 0.55em;
    min-width: 1.2em;
    align-items: center;
    justify-content: center;
}

.profileBubble {
    top: -0.625em;
    right: -0.625em;
    background-color: #464849;
    color: white;
    border-radius: 2em;
    width: 2.2em;
    height: 2.2em;
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navbar bottom */

/* LoginMobile.module.css */
.navbarBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0.6em 0.6em 0 0;
    padding: 0.8em 0;
    z-index: 1000;
    box-shadow: 0 -0.2em 0.2em rgba(0, 0, 0, 0.1);
}

.navbarIcon {
    font-size: 2em;
    color: #333;
}

.logoMobile {
    height: 2em;
}

.topLeftHader {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
