* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header.css */
.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25em;
    height: 5em;
    border-radius: 0 0 1em 1em;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
    width: 100vw;
}

.title {
    margin: 0;
}

.headerRight {
    display: flex;
    align-items: center;
}

.notificationBell {
    height: 1.2em;
}

.notificationIcon {
    position: relative;
    margin-right: 1.25em;
}

.notificationCount {
    display: flex;
    position: absolute;
    top: -0.625em;
    right: -0.625em;
    background-color: red;
    color: white;
    border-radius: 1em;
    height: 1.25em;
    width: 1.25em;
    font-size: 0.75em;
    min-width: 1.25em;
    align-items: center;
    justify-content: center;
}

.profileBubble {
    top: -0.625em;
    right: -0.625em;
    background-color: #007bff;
    color: white;
    border-radius: 2em;
    width: 2em;
    height: 2em;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navbar bottom */

/* LoginMobile.module.css */
.navbarBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1em 1em 0 0;
    padding: 10px 0;
    z-index: 1000; /* Assurez-vous que l'élément est au-dessus des autres */
    box-shadow: 0 -0.25em 0.25em rgba(0, 0, 0, 0.1);
}

.navbarIcon {
    font-size: 2em;
    color: #333;
}
