/* HEADER */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0.18em 0.2em rgba(0, 0, 0, 0.1);
}

/* Header.css */
.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em 1.25em;
}

.logo img {
    height: 3em;
}

.headerRight {
    display: flex;
    align-items: center;
}

.planifierButton {
    background-color: #c93c2c;
    padding: 0.4em 0.7em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1.05em;
    font-weight: 500;
    cursor: pointer;
    margin: 0 1em;
}

.planifierButton i {
    margin-right: 0.6em;
    font-size: 0.9em;
}

.planifierButton:hover {
    background-color: #b73c2e;
}

.notificationBell {
    height: 1.3em;
}

.notificationIcon {
    position: relative;
    margin-right: 1.25em;
}

.notificationCount {
    display: flex;
    position: absolute;
    top: -0.625em;
    right: -0.625em;
    background-color: #e0240f;
    color: white;
    border-radius: 1em;
    height: 1.25em;
    width: 1.25em;
    font-size: 0.75em;
    min-width: 1.25em;
    align-items: center;
    justify-content: center;
}

.profileBubble {
    top: -0.625em;
    right: -0.625em;
    background-color: #1c8aff;
    color: white;
    border-radius: 2em;
    width: 2.4em;
    height: 2.4em;
    font-size: 1.25em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profileBubble:hover {
    background-color: #0056b3;
}

.profileMenu {
    position: fixed;
    top: 4.5em;
    right: 1.3em;
    z-index: 1000;
    height: 90px;
    padding: 1em;
    border: 0.15em solid #d5d5d5;
    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: 0 0.18em 0.2em rgba(0, 0, 0, 0.1);
}

ul li {
    list-style: none;
    padding: 0.3em 0;
}

/* SIDEBAR */
.sidebar {
    margin-left: 1.25em;
    border-top-right-radius: 0.625em;
    border-bottom-right-radius: 0.625em;
    height: auto;
    margin-top: 0.7em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin: 0.6em;
    padding: 0.3em;
}

.sidebar li a {
    display: flex;
    align-items: center;
    margin-left: 0.6em;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 450;
    color: black;
}

.sidebar li i {
    margin: 0em 0.4em 0em 0em;
    font-size: 0.8em;
}

.sidebar li:hover a,
.sidebar li:hover i {
    color: white;
}

.sidebar li:hover {
    padding: 0.3em;
    background-color: #c93c2c;
    border-radius: 0.3em;
}

i {
    width: 1.25em;
}

/* Placement des deux divisions sidebar entre elles */
.sidebarAndOrange {
    display: flex;
    position: fixed;
    top: 5.6em;
}

/* Couleur orange de la div pour le liseret de la sidebar */
.sideOrange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c93c2c;
    height: auto;
    width: 0.7em;
    border-top-right-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    cursor: pointer;
}

/* Rotation de l'icône de flèche */
.sideOrange i {
    transform: rotate(90deg);
    color: white;
}

.active {
    padding: 0.3em;
    background-color: #c93c2c;
    border-radius: 0.3em;
    color: #fff;
}

.active a {
    color: white !important;
}
