body {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  margin-top: 85px;
  background-color: white;
}

.stickyFilter {
  position: sticky;
  top: 65px;
  background-color: white;
  z-index: 1000;
  width: 100%;
}

.stickyThead {
  position: sticky;
  top: 240px;
  background-color: white;
  z-index: 1000;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  margin-left: 255px;
  z-index: 0;
}

th,
td {
  text-align: start;
  width: 100vw; /* Définit une largeur fixe pour les cellules */
  padding: 10px; /* Augmente l'espace à l'intérieur des cellules */
  border-bottom: 1px solid #d3d3d3;
}

table {
  border-collapse: collapse; /* Assure que les bordures ne se chevauchent pas */
}

a {
  color: #c93c2c; 
  text-decoration: underline #c93c2c;
}
