/* AppointmentFormPage.module.css */
.container {
    display: flex;
    justify-content: center;
    margin: 0 1.25em 0 15.6em;
}

.card {
    margin: 2em 0em;
    width: 80%;
    padding: 2em;
    border-radius: 0.4em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

.appointmentId {
    display: flex;
    justify-content: start;
    margin-bottom: 1.25em;
    color: #3e3e3e;
    font-weight: 600;
}

.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
    margin-bottom: 0.4em;
}

.separation {
    height: 0.05em;
    background-color: #ccc;
    margin: 1em 0;
}

.alignButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignButton button {
    padding: 0.6em;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.alignButton button i {
    margin-right: 0.6em;
}

.alignButton button:hover {
    background-color: rgb(163, 163, 163);
    border-radius: 0.4em;
    border: none;
    cursor: pointer;
}

.alignButton button i {
    transform: rotate(180deg);
}

.inputDisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
}

.inputDisplay label {
    font-weight: 500;
    margin-bottom: 0.3em;
}

.inputDisplay input {
    width: 50%;
    height: 2.5em;
    border-radius: 0.5em;
    border: none;
    background-color: #e0e0e0;
    padding: 1em;
}

.textArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
}

.textArea textarea {
    margin-top: 0.8em;
    width: 100%;
    padding: 1em;
    border-radius: 0.5em; /* Ajoute un border-radius */
    border: 0.06em solid #ccc; /* Ajoute une bordure de couleur #ccc */
    resize: vertical; /* Permet de redimensionner verticalement */
}

.labelInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.6em;
    gap: 0.7em;
}

.labelInput input {
    width: 50%;
    height: 2.5em;
    border-radius: 0.5em;
    padding: 1em;
    border: none;
    background-color: #e0e0e0;
}

.modalFooter {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-end;
}

.modalFooter button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.modalFooter .cancelButton {
    background-color: #ababab;
}

.modalFooter .submitButton {
    background-color: #c93c2c;
    color: white;
}

.formTitle {
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 500;
}

.pageTitle {
    font-size: 2em;
    font-weight: 550;
    margin-bottom: 0.4em;
}

.validateButton {
    background-color: #c93c2c;
    border: none;
    border-radius: 0.4em;
    color: white;
}

.validateButton:hover {
    background-color: #b73c2e;
}
