.sidebar {
  margin-left: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.sidebar li a {
  margin-left: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 450;
  color: black;
}

.sidebar li:hover a,
.sidebar li:hover i {
  color: white;
}

.sidebar li:hover {
  padding: 5px;
  background-color: #c93c2c;
  border-radius: 5px;
}

i {
  width: 20px;
}
