.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: white;
    box-shadow: -0.188em 0 0.188em rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 1.5em;
    border-radius: 1em;
    display: none;
}

.modal.open {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.modalFooter {
    display: flex;
    flex: row;
    justify-content: space-around;
}

.modalFooter button {
    padding: 0.4em 0.9em;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    transition: 80ms;
}

.modalFooter button:hover {
    background-color: #c93c2c;
    color: white;
}

.separator {
    margin: 1em 0;
    border-bottom: 0.063em solid #ccc;
}

.formHeader {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
}

.eventData {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
