/* CSS for parent div with red and white background */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    height: 100vh;
    background: linear-gradient(160deg, white 50%, #c93c2c 50%);
}

/* CSS of the card for the login form */
.loginFormCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.25em;
    border: #e7e7e7 0.06em solid;
    background-color: white;
    width: 28.438em;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.875em 1.75em,
        rgba(0, 0, 0, 0.22) 0 0.625em 0.625em;
    padding: 1em;
}

/* CSS title style font */
.titleCard {
    font-size: 1.9em;
    font-weight: 500;
}

/* CSS for input & label */
.labelInput {
    font-size: 1.1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9em;
}

/* CSS for input comportement */
.labelInput input {
    margin: 0 1.6em;
    padding: 0.6em;
    border: 0.05em solid #cccccc;
    border-radius: 0.4em;
}

/* CSS for the label comportement */
.labelInput label {
    margin: 0 1.3em;
    padding: 0.2em 0;
    font-size: 1em;
}

/* CSS for elements placement */
.formElements {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

/* CSS for button positioning */
.buttonPosition {
    display: flex;
    margin-bottom: 1.25em;
    margin-top: 1.2em;
}

/* CSS for cancel button */
.cancelButton {
    background-color: #ababab;
    margin: auto;
    padding: 0.5em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}

/* CSS for create button */
.submitButton {
    background-color: #c93c2c;
    margin: auto;
    padding: 0.5em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #b32f21;
}
