/* CSS for parent div with red and white background */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoMobile {
    height: 14em;
    width: 14em;
}

/* CSS title style font */
.title {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}

/* CSS for input & label */
.labelInput {
    font-size: 1.4em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.9em auto;
}

/* CSS for input comportement */
.labelInput input {
    margin: auto;
    width: 80%;
    padding: 0.7em;
    border: 0.15em solid #cccccc;
    border-radius: 0.6em;
    font-size: 0.7em;
}

/* CSS for the label comportement */
.labelInput label {
    margin: 0 1.8em;
    padding: 0.3em 0;
}

/* CSS for elements placement */
.formElements {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* CSS for create button */
.submitButton {
    background-color: #c93c2c;
    margin: auto;
    width: 80%;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-size: 1.25em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2em;
}

/* CSS for paragraph style */
.formElements p {
    font-size: 1.1em;
    margin-top: 1.25em;
    text-align: center;
}

/* CSS for link style */
.formElements a {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0.8em;
}
