/* CSS for parent div with red and white background */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    height: 100vh;
    background: linear-gradient(160deg, white 50%, #c93c2c 50%);
}

/* CSS of the card for the login form */
.loginFormCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    border: #e7e7e7 0.063em solid;
    background-color: white;
    width: 28.438em;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.625em 1.75em,
        rgba(0, 0, 0, 0.22) 0 0.625em 0.625em;
    padding: 1em;
}

/* CSS title style font */
.titleCard {
    font-size: 1.6em;
    font-weight: 500;
}

/* CSS for input & label */
.labelInput {
    font-size: 1.1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.9em;
}

/* CSS for input comportement */
.labelInput input {
    margin: 0 1.6em;
    padding: 0.6em;
    border: 0.05em solid #cccccc;
    border-radius: 0.4em;
}

/* CSS for the label comportement */
.labelInput label {
    margin: 0 1.3em;
    padding: 0.3em 0;
}

/* CSS for elements placement */
.formElements {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}

/* CSS for create button */
.submitButton {
    background-color: #c93c2c;
    margin: auto;
    padding: 0.5em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1.25em;
    font-weight: 500;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #b32f21;
}

/* CSS for paragraph style */
.formElements p {
    font-size: 1.1em;
    margin-top: 1.2em;
    text-align: center;
}

/* CSS for link style */
.formElements a {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 1.4em;
}

/* CSS */
/* Version */
/* Mobile */

.containerMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.logoMobile {
    height: 20em;
    width: 20em;
}

.error {
    color: #FFF;
    font-size: 1.1em;
    padding: 0.6em 0.6em;
    background-color: #cf2b18;
    border-radius: 0.4em;
    width: 80%;
    margin: 1em auto;
}