body {
    box-sizing: border-box;
    margin: 0;
}
/* placement du container */
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 1.25em 0 15.6em;
}

.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
}

.filterBar {
    display: flex;

    align-items: center;
    margin-bottom: 1.25em;
}

.selectedCategory {
    display: flex;
    align-items: center;
    margin: 0 0 0.94em 1.56em;
}

.rightPart {
    margin-left: auto;
}

.particulier {
    color: #c93c2c;
    font-weight: 550;
    text-decoration: underline;
    cursor: pointer;
}

.professionnel {
    color: #2c5ba1;
    font-weight: 550;
    text-decoration: underline;
    cursor: pointer;
}

.radioParticulier {
    color: #c93c2c;
}

.radioProfessionnel {
    color: #2c5ba1;
}

.labelRadio {
    font-size: 1.25em;
    font-weight: 500;
}

.addClient {
    background-color: #c93c2c;
    padding: 0.625em 0.94em;
    border: none;
    border-radius: 0.625em;
    color: white;
    font-size: 1.125em;
    font-weight: 500;
    cursor: pointer;
    margin: 0.625em 1.25em;
}

/* Style barre de recherche et filtre  */
/* style for each filter button */
.typeFilter {
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.625em;
    height: 2.18em;
    border: 0.06em solid #c0c0c0;
    display: inline-flex;
    align-items: center;
    padding: 0 1.25em;
    margin-right: 0.625em;
}

/* style when you hover over the filter button */
.typeFilter:hover {
    color: white;
    cursor: pointer;
    background-color: #c93c2c;
}

/* icon position */
.typeFilter i {
    margin-right: 0.625em;
}

/* Search input container style */
.searchInput {
    position: relative;
    display: inline-block;
    margin-right: 0.625em;
}

/* icon position inside the input */
.searchInput i {
    position: absolute;
    top: 50%;
    left: 0.625em;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}

/* Search input style */
.searchInput input {
    padding: 0.625em 0.625em 0.625em 2.19em;
    border: 0.06em solid #c0c0c0;
    border-radius: 3.125em;
}

/* style de la modal */
.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%; /* Ajustez la largeur selon vos besoins */
    height: 100%;
    border-top-left-radius: 1.25em;
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* Optionnel : pour un fond semi-transparent */
    display: flex;
    align-items: flex-start; /* Aligne le contenu en haut */
    justify-content: flex-end; /* Aligne le contenu à droite */
    z-index: 1000; /* Assurez-vous que la modale est au-dessus des autres éléments */
}

.modalContent {
    background-color: white;
    width: 100%;
    height: 100%; /* Ajustez la hauteur pour ne pas se superposer au header */
    border-top-left-radius: 1.25em;
    overflow-y: auto; /* Ajoute un défilement si le contenu dépasse la hauteur */
    padding: 1.25em; /* Optionnel : pour ajouter du padding à l'intérieur de la modale */
    box-shadow: -0.125em 0 0.313em rgba(0, 0, 0, 0.5); /* Optionnel : pour ajouter une ombre */
}

.closeButton {
    position: absolute;
    top: 0.625em;
    right: 0.625em;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

/* CSS for input & label */
.labelInput {
    font-size: 1.25em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-bottom: 0.625em;
}

/* CSS for input comportement */
.labelInput input {
    margin: 0 1.875em;
    padding: 0.625em;
    border: 0.06em solid #cccccc;
    border-radius: 0.625em;
}

/* CSS for the label comportement */
.labelInput label {
    margin: 0 1.9em;
    padding: 0.313em 0;
}

/* CSS for button positioning */
.buttonPosition {
    display: flex;
    width: 30vw;
    margin-bottom: 1.25em;
    margin-top: 1.2em;
}

/* css for cancel button */
.cancelButton {
    background-color: #ababab;
    margin: auto;
    padding: 0.625em;
    border: none;
    border-radius: 0.625em;
    color: white;
    font-size: 1.125em;
    font-weight: 500;
    cursor: pointer;
}

/* CSS for create button */
.submitButton {
    background-color: #c93c2c;
    margin: auto;
    padding: 0.625em;
    border: none;
    border-radius: 0.625em;
    color: white;
    font-size: 1.125em;
    font-weight: 500;
    cursor: pointer;
}

.modalFilter {
    display: flex;
    align-items: start;
    margin: 1em 4em;
    border: 1px solid red;
}
