.container {
    display: flex;
    flex-direction: column;
    margin: 2em 1.25em 0 15.6em;
}

.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
}

.separation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    height: 0.06em;
    background-color: #ccc;
}

/* CSS for input & label */
.labelInput {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

/* CSS for input comportement */
.labelInput input {
    padding: 0.55em;
    border: 0.05em solid #cccccc;
    border-radius: 0.4em;
    width: 30%;
}

/* CSS for the label comportement */
.labelInput label {
    font-weight: 500;
    padding: 0.15em;
}

/* CSS for button positioning */
.buttonPosition {
    display: flex;
    justify-content: start;
    gap: 1em;
    margin-top: 1.5em;
}

/* Common styles for buttons */
.buttonPosition button {
    padding: 0.625em;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5em 0.9em;
}

/* Specific styles for cancel button */
.cancelButton {
    background-color: #cfcfcf;
    color: black;
}

.cancelButton:hover {
    background-color: #a9a9a9;
}

/* Specific styles for submit button */
.submitButton {
    background-color: #c93c2c;
    color: white;
}

.submitButton:hover {
    background-color: #a93626;
}

.header {
    margin-bottom: 1em;
}

.profilPic {
    margin-top: 1em;
    height: 7em;
}

.error {
    font-size: 0.9em;
    margin: 0 0 0 0.3em;
    color: rgb(226, 12, 12);
}

.iconWrapper {
    background-color: #556080;
    border-radius: 50%;
    padding: 0.45em;
    color: #efefef;
    font-size: 2.2em;
    text-align: center;
    margin-right: 0.3em;
    margin-top: 0.6em;
    width: 2.1em;
}
