.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 20px 0 250px;
}

a {
    text-decoration: none;
}

.card {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.profilPicture {
    width: 100px;
    height: 100px;
}

.profilPicture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.job {
    width: auto;
    text-align: center;
    border-radius: 50px;
    background-color: #d9d9d9;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}

.info {
    text-align: right;
    margin: 5px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    color: #3e3e3e;
}

.moreInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 500;
    color: #c93c2c;
    margin: 0;
}

.moreInfo button {
    color: #c93c2c;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
}

.lastname,
.firstname {
    margin: 5px;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
}
