/* ReportPage.module.css */
.container {
    display: flex;
    flex-direction: column;
    margin: 0 1.25em 0 15.6em;
}

.card {
    margin: 2em 0em;
    width: 80%;
    padding: 2em;
    border-radius: 0.4em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

.interventionInfo {
    display: flex;
    justify-content: start;
    margin-bottom: 1.25em;
    color: #3e3e3e;
    font-weight: 600;
}

.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
    margin-bottom: 0.4em;
}

.separation {
    height: 0.05em;
    background-color: #ccc;
    margin: 1em 0;
}

.alignButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignButton button {
    padding: 0.6em;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.alignButton button:hover {
    background-color: rgb(163, 163, 163);
    border-radius: 0.4em;
    border: none;
    cursor: pointer;
}

.alignButton button i {
    transform: rotate(180deg);
    margin-right: 0.6em;
}

.infoTitle {
    margin-bottom: 1.25em;
}

.infoTitle h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.infoTitle p {
    margin: 0.3em 0;
}

.documentInfo {
    margin-top: 1.5em;
}

.documentLink {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
}

.documentLink i {
    margin-right: 0.5em;
}

.pdf {
    width: 50%;
    height: 18.75em;
}

.documentTitle {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}
