.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 1.25em;
    width: 50%;
    padding: 1.25em;
    border-radius: 0.625em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
    background-color: white;
}

.interventionInfo {
    display: flex;
    justify-content: start;
    margin-bottom: 1.25em;
    color: #3e3e3e;
    font-weight: 600;
}

.separation {
    height: 0.063em;
    background-color: #3e3e3e;
    margin: 1.875em 1.25em 1.25em 1.25em;
}

.alignButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignButton button {
    width: auto;
    height: 1.875em;
    background-color: white;
    border-radius: 0.313em;
    border: 0.063em solid #919191;
    cursor: pointer;
    font-weight: 600;
}

.alignButton button:hover {
    width: auto;
    height: 1.875em;
    background-color: rgb(163, 163, 163);
    border-radius: 0.313em;
    border: 0.063em solid #a5a4a4;
    cursor: pointer;
}

.alignButton button i {
    transform: rotate(180deg);
}

.pdf {
    width: 50%;
    height: 18.75em;
}

.documentLink {
    margin-bottom: 1.25em;
}
