/* style for each filter button */
.typeFilter {
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  height: 40px;
  border: 1px solid #c0c0c0;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  margin-right: 10px;
}

/* style when you hover over the filter button */
.typeFilter:hover {
  color: white;
  cursor: pointer;
  background-color: #c93c2c;
}

/* icon position */
.typeFilter i {
  margin-right: 10px;
}

/* Search input container style */
.searchInput {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

/* icon position inside the input */
.searchInput i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}

/* Search input style */
.searchInput input {
  padding: 10px 10px 10px 35px;
  border: 1px solid #c0c0c0;
  border-radius: 50px;
}

/* page title style */
.pageTitle {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
