/* style for each filter button */
.typeFilter {
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.4em;
    height: 2.2em;
    border: 0.063em solid #c0c0c0;
    display: inline-flex;
    align-items: center;
    padding: 0 1.25em;
    margin-right: 0.625em;
}

/* style when you hover over the filter button */
.typeFilter:hover {
    color: white;
    cursor: pointer;
    background-color: #c93c2c;
}

/* icon position */
.typeFilter i {
    margin-right: 0.625em;
}

/* Search input container style */
.searchInput {
    position: relative;
    display: inline-block;
    margin-right: 0.625em;
}

/* icon position inside the input */
.searchInput i {
    position: absolute;
    top: 50%;
    left: 0.625em;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}

/* Search input style */
.searchInput input {
    padding: 0.625em 0.625em 0.625em 2.188em;
    border: 0.063em solid #c0c0c0;
    border-radius: 0.4em;
}

/* page title style */
.pageTitle {
    font-size: 1.875em;
    font-weight: 500;
}

.createEventbutton {
    background-color: #c93c2c;
    border: none;
    border-radius: 0.4em;
    padding: 0.5em 0.5em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.05s;
    color: white;
}

.createEventbutton:hover {
    background-color: #7e241a;
    color: white;
}

.statutModalOverlay {
    position: absolute;
    margin-top: 0.2em;
    margin-left: 23.3em;
    padding: 1em;
    background-color: white;
    border: 0.06em solid #c0c0c0;
    border-radius: 0.4em;
    width: 25%;
}

.statutModalOverlay input {
    margin: 0.325em;
    padding: 0.325em;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.statutModalOverlay button {
    margin: 0.3em;
    padding: 0.2em 0.5em;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}

.statutModalOverlay button:hover {
    background-color: #c93c2c;
    color: white;
}

.typeModalOverlay {
    position: absolute;
    margin-top: 0.2em;
    margin-left: 25.5em;
    padding: 1em;
    background-color: white;
    border: 0.06em solid #c0c0c0;
    border-radius: 0.4em;
    width: 25%;
}

.typeModalOverlay input {
    margin: 0.325em;
    padding: 0.325em;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.typeModalOverlay button {
    margin: 0.3em;
    padding: 0.2em 0.5em;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}

.typeModalOverlay button:hover {
    background-color: #c93c2c;
    color: white;
}
