.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    height: 100vh;
    background: linear-gradient(160deg, white 50%, #c93c2c 50%);
}

.loginFormCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.25em;
    border: #e7e7e7 0.06em solid;
    background-color: white;
    width: 28em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.875em 1.75em,
        rgba(0, 0, 0, 0.22) 0 0.625em 0.625em;
    padding: 1em;
}

.titleCard {
    font-size: 1.5em;
    font-weight: 500;
}

.labelInput {
    font-size: 1.1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9em;
}

.labelInput input {
    margin: 0 1.6em;
    padding: 0.6em;
    border: 0.05em solid #cccccc;
    border-radius: 0.4em;
}

.labelInput label {
    margin: 0 1.3em;
    padding: 0.2em 0;
    font-size: 1em;
    font-weight: 500;
}

.formElements {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.buttonPosition {
    display: flex;
    margin-bottom: 1.25em;
    margin-top: 1.2em;
}

.cancelButton {
    background-color: #ababab;
    margin: auto;
    padding: 0.5em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}

.cancelButton:hover {
    background-color: #7a7a7a;
}

.submitButton {
    background-color: #c93c2c;
    margin: auto;
    padding: 0.5em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #b32f21;
}

.error {
    color: red;
    font-size: 0.9rem;
}
.success {
    color: green;
    font-size: 0.9rem;
    margin: auto;
    padding: 0.7em;
    background-color: rgb(193, 255, 193);
    border: 1px solid rgb(135, 242, 135);
    border-radius: 0.4em;
}
