/* InterventionFormPage.module.css */
.container {
    display: flex;
    flex-direction: column;
    margin: 0 1.25em 0 15.6em;
}

.card {
    margin: 2em 0em;
    width: 80%;
    padding: 2em;
    border-radius: 0.6em;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.1);
}

.interventionId {
    display: flex;
    justify-content: start;
    margin-bottom: 1.25em;
    font-weight: 500;
    font-size: 1.2em;
}

.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
    margin-bottom: 0.4em;
}

.separation {
    height: 0.05em;
    background-color: #ccc;
    margin: 1em 0;
}

.alignButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignButton button {
    padding: 0.45em 0.7em;
    background-color: #e3e3e3;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.alignButton button i {
    margin-right: 0.6em;
}

.alignButton button:hover {
    background-color: rgb(163, 163, 163);
    border-radius: 0.4em;
    border: none;
    cursor: pointer;
}

.alignButton button i {
    transform: rotate(180deg);
}

.buttonBack {
    background-color: #ccc;
    display: flex;
}

.inputDisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
    font-weight: 500;
}

.inputDisplay label {
    font-weight: 500;
    margin-bottom: 0.3em;
}

.inputDisplay input {
    width: 50%;
    height: 2.5em;
    border-radius: 0.5em;
    border: none;
    background-color: #e0e0e0;
    padding: 1em;
    border: 0.06em solid #ccc;
}

.textArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
    font-weight: 500;
}

.textArea textarea {
    margin-top: 0.4em;
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
    border: 0.06em solid #ccc;
    resize: vertical;
}

.labelInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.6em;
    gap: 0.7em;
}

.labelInput input {
    width: 50%;
    height: 2.5em;
    border-radius: 0.5em;
    padding: 1em;
    border: 1px solid #c9c9c9;
    background-color: #e0e0e0;
}

.labelInput label {
    font-weight: 500;
}

.modalFooter {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-end;
}

.modalFooter button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.modalFooter .cancelButton {
    background-color: #ababab;
}

.modalFooter .cancelButton:hover {
    background-color: #d7d7d7;
}

.modalFooter .submitButton {
    background-color: #c93c2c;
    color: white;
}

.modalFooter .submitButton:hover {
    background-color: #a72c1f;
}

.cancelInterventionButton:hover {
    background-color: #ababab;
}

.validateButton {
    background-color: #c93c2c;
    border: none;
    border-radius: 0.4em;
    color: white;
}

.validateButton:hover {
    background-color: #b73c2e;
}

.pageTitle {
    font-size: 2em;
    font-weight: 550;
    margin-bottom: 0.4em;
}

.formTitle {
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 500;
}

.validateButton i {
    margin-right: 0.5em;
}

.required {
    color: #c93c2c;
    font-weight: bold;
}

.error {
    font-size: 0.9em;
    color: rgb(226, 12, 12);
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 0.4em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.1s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.1s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #b73c2e;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.checkbox .switch {
    margin: 1em 0.5em;
    font-weight: 500;
}

.checkbox label {
    font-weight: 500;
}

.endingHourInput input {
    width: 50%;
    height: 2.5em;
    border-radius: 0.5em;
    padding: 1em;
    border: 1px solid #c9c9c9;
    background-color: #ffffff;
    margin-bottom: 0.6em;
}

.endingHourInput label {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 0.6em;
    gap: 0.25em;
    font-weight: 500;
}
