/* AppointmentFormPage.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.5em 2em 5em 2em;
}

.separation {
    height: 0.06em;
    background-color: #3e3e3e;
}

.alignButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputDisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
}

.inputDisplay label {
    font-weight: 500;
    margin-bottom: 0.3em;
}

.inputDisplay input {
    width: 100%;
    border-radius: 0.8em;
    border: 0.06em solid #bdbdbd;
    color: #747474;
    padding: 0.8em;
    font-size: 0.9em;
}

.textArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7em;
}

.textArea label {
    font-weight: 500;
    margin-bottom: 0.3em;
}

.textArea textarea {
    border-radius: 0.8em;
    border: 0.06em solid #bdbdbd;
    color: #000000;
    padding: 0.8em;
    font-size: 0.9em;
    margin-bottom: 1.3em;
}

.labelInput {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.labelInput input {
    width: 100%;
    border-radius: 0.8em;
    border: 0.06em solid #bdbdbd;
    color: #747474;
    padding: 0.8em;
    font-size: 0.9em;
}

.modalFooter {
    margin-top: 0.8em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.validateButton {
    background-color: #c93c2c;
    width: auto;
    color: white;
    border: none;
    border-radius: 0.4em;
    padding: 0.3em 0.8em;
    font-size: 1em;
    margin: 1em 0 1em 0;
}

.validateButton i {
    margin-right: 0.5em;
}

.cancelButton {
    background-color: #ababab;
    width: auto;
    color: white;
    border: none;
    border-radius: 0.4em;
    padding: 0.4em 0.8em;
    font-size: 1em;
    margin: 1em 0 1em 0;
}

.modalFooter button:hover {
    background-color: #c93c2c;
    color: white;
}

.backButton {
    font-size: 1.1em;
    margin: 1.2em 0 0 1.2em;
    background-color: none;
    border: none;
    color: #c93c2c;
}

.idAndTitle {
    margin-bottom: 1em;
}

.checkBox label {
    margin-left: 1em;
}
