body {
    box-sizing: border-box;
    margin: 0;
}
/* placement du container */
.container {
    display: flex;
    flex-direction: column;
    margin: 0 1.25em 0 15.6em;
}

/* placement et style du titre de la pge  */
.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
}

/* fixation du top side (titre, filter bar et evenement) */
.fixedTopSide {
    height: 11.5em;
    position: sticky;
    top: 5em;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.stickyThead {
    position: sticky;
    top: 16.56em;
    background-color: white;
    z-index: 1;
}

/* placement du titre 'evennement' */
h3 {
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 1.25em;
}

th,
td {
    text-align: start;
    width: 100vw; /* Définit une largeur fixe pour les cellules */
    padding: 0.625em; /* Augmente l'espace à l'intérieur des cellules */
    border-bottom: 0.06em solid #d3d3d3;
}

a {
    color: #c93c2c;
    text-decoration: underline #c93c2c;
}

.pagination {
    display: flex;
    gap: 0.5em;
}

.pagination button {
    background-color: #e9e9e9;
    border: none;
    border-radius: 0.4em;
    padding: 0.4em 1em;
    margin: 3vh 0vh;
    font-size: 1em;
    transition: 0.05s;
}

.pagination button:hover {
    background-color: #c93c2c;
    color: white;
}

.viewButton {
    border-radius: 0.5em;
    padding: 0.625em 1.25em 0.625em 0em;
    margin: 0.5em 0.5em 0.8em 0em;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.viewButton:hover,
.viewButton:active {
    text-decoration: underline;
    text-decoration-color: #c93c2c;
    text-underline-offset: 0.6em;
    text-decoration-thickness: 0.15em;
    color: #c93c2c;
}

.divider {
    width: 100%;
    height: 0.05em;
    background-color: #d3d3d3;
}
