body {
    box-sizing: border-box;
    margin: 0;
}
/* placement du container */
.container {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 250px;
}

/* placement et style du titre de la pge  */
.pageTitle {
    font-size: 30px;
    font-weight: 550;
}

/* fixation du top side (titre, filter bar et evenement) */
.fixedTopSide {
    height: 185px;
    position: sticky;
    top: 80px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.stickyThead {
    position: sticky;
    top: 265px;
    background-color: white;
    z-index: 1;
}

/* placement du titre 'evennement' */
h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

th,
td {
    text-align: start;
    width: 100vw; /* Définit une largeur fixe pour les cellules */
    padding: 10px; /* Augmente l'espace à l'intérieur des cellules */
    border-bottom: 1px solid #d3d3d3;
}

a {
    color: #c93c2c;
    text-decoration: underline #c93c2c;
}
