body {
    box-sizing: border-box;
    margin: 0;
}
/* placement du container */
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 5em;
}
.filterBar {
    z-index: 900;
    position: sticky;
    top: 5em;
}

/*CSS event cards*/
.eventCard {
    display: flex;
    margin: 0.9em;
    background-color: white;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    position: sticky;
    border-top: 1px solid #cccccc89;
    font-weight: 500;
}

.sideColorPro {
    width: 0.6em;
    border-radius: 1em 0 0 1em;
    background-color: #87c2f9;
}

.sideColorPart {
    width: 0.6em;
    border-radius: 1em 0 0 1em;
    background-color: #fccd86;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    margin-right: auto;
}

.clientName {
    font-size: 1em;
    font-weight: 400;
    margin: 0.3em 0.3em;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    margin-left: auto;
}

.type {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.3em;
}

.partTag {
    font-weight: 500;
    font-size: 0.85em;
    color: #c35e00;
    background-color: #ffe4bc;
    border-radius: 0.6em;
    text-align: center;
    margin-bottom: 0.1em;
    margin-top: 0.9em;
    padding: 2px 8px;
}

.proTag {
    font-weight: 500;
    font-size: 0.85em;
    color: #2c5ba1;
    background-color: #c1f0ff;
    border-radius: 0.6em;
    text-align: center;
    margin-bottom: 0.1em;
    margin-top: 0.9em;
    padding: 2px 8px;
}

.intStatus {
    margin-bottom: 1em;
}

.idInter {
    display: flex;
    align-items: center;
    justify-content: end;
}

.initiale {
    background-color: #464849;
    color: white;
    padding: 0.5em;
    border-radius: 2em;
    margin-left: 0.5em;
    font-size: 0.95em;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.dateHour {
    padding-top: 0.2em;
    margin-right: 0.4em;
    font-size: 0.95em;
}
