body {
    box-sizing: border-box;
    margin: 0;
}
/* placement du container */
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 4em;
}

/*CSS event cards*/
.eventCard {
    display: flex;
    margin: 1em;
    background-color: white;
    box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.247);
    border-radius: 1em;
    position: sticky;
}

.sideColorPro {
    width: 1em;
    border-radius: 1em 0 0 1em;
    background-color: #55abdb;
}

.sideColorPart {
    width: 1em;
    border-radius: 1em 0 0 1em;
    background-color: #91cb94;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    margin-right: auto;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    margin-left: auto;
}

.type {
    font-size: 1.2em;
    font-weight: 700;
}

.intStatus {
    margin-bottom: 1em;
}

.status {
    font-size: 0.9em;
    font-weight: 500;
    color: #c93c2c;
}

.idInter {
    display: flex;
    align-items: center;
    justify-content: end;
}

.initiale {
    background-color: blue;
    color: white;
    padding: 0.5em;
    border-radius: 10em;
    margin-left: 0.5em;
}

.dateHour {
    font-size: 0.8em;
}
