.container {
    display: flex;
    flex-direction: column;
    margin: 2em 1.25em 0 15.6em;
}

/* placement et style du titre de la pge  */
.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
}

.separator {
    margin: 1em 0;
    border-bottom: 0.063em solid #ccc;
}

.logoCompany {
    display: flex;
    align-items: center;
    margin: 1.2em 0;
}

.logoCompany img {
    margin-right: 1em;
}

.companyData {
    margin-bottom: 1em;
}

.companyData h3 {
    margin-bottom: 0.5em;
}

.companyData label {
    display: block;
    margin-bottom: 0.5em;
}

.companyData input {
    padding: 0.5em;
    margin: 0.25em 0 0 0.5em;
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}

.saveButton {
    background-color: #c93c2c;
    padding: 0.5em 0.9em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.saveButton i {
    margin-right: 0.5em;
}

.cancelButton {
    background-color: #9c9c9c;
    padding: 0.5em 0.9em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 1em;
}

.error {
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 0.2em;
    color: rgb(226, 12, 12);
}

.fileInputContainer {
    position: relative;
    display: inline-block;
}

.fileInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.fileInputLabel {
    background-color: #c93c2c;
    padding: 0.5em 0.9em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fileInputLabel:hover {
    background-color: #a83228;
}
