.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    margin: 2.125em 1.25em 0 15.625em;
}

.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
}

.pro,
.part {
    width: 100%;
}

.company {
    margin-left: 0.7em;
}

.backButton {
    padding: 0.5em;
    background-color: #ccc;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin-left: auto;
}

.backButton:hover {
    background-color: #aeaeae;
}

.backButton i {
    transform: rotate(180deg);
    margin-right: 0.5em;
}

.profilCompanyBack,
.profilNamesBack {
    margin-top: 2em;
    display: flex;
    width: 75%;
    align-items: center;
}

.profilCompanyBack img,
.profilNamesBack img {
    height: 7em;
}

.idAndCategory {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.id {
    margin-right: 1em;
    font-size: 1.4em;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
    font-weight: 550;
}

.names {
    margin-left: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.nameColumn {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.lastname,
.firstname {
    font-size: 2em;
    font-weight: 550;
    margin-left: 0.3em;
}

.lastnamePro,
.firstnamePro {
    font-weight: 400;
}

.lastname,
.company {
    font-size: 2em;
    font-weight: 550;
}

.profilInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-top: 1em;
    font-size: 1em;
}

.contactInfo p {
    margin: 0.5em 0;
}

.separation {
    margin: 2em 0;
    border-bottom: 0.063em solid #ccc;
    height: 0.06em;
    width: 75%;
}

.eventInfo {
    display: flex;
}

.eventInfo p {
    margin: 0;
}

.editButton {
    background-color: #ccc;
    padding: 0.5em 0.8em;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin: 1em 0em;
}

.editButton:hover {
    background-color: #c93c2c;
    color: white;
}

.editButton i {
    margin-right: 0.5em;
    font-size: 0.8em;
}

.button {
    padding: 0.5em;
    border: 0.06em solid #ccc;
    border-radius: 0.3em;
    font-size: 1em;
    cursor: pointer;
    margin-top: 0.9em;
}

.openMapsLink {
    padding: 0.5em 1em;
    background-color: #c93c2c;
    color: white;
    border-radius: 0.3em;
}

.openMapsLink:hover {
    background-color: #a83228;
}

.clientLabel {
    font-weight: 500;
}

.iconWrapper {
    background-color: #556080;
    border-radius: 50%;
    padding: 0.45em;
    color: #efefef;
    font-size: 2.2em;
    text-align: center;
    margin-right: 0.3em;
}

.tabContainer {
    display: flex;
    gap: 0.5em;
    margin: 1.25em 0;
}

.tabButton {
    background: none;
    border: none;
    font-size: 1.15em;
    color: #3c3c3c;
    cursor: pointer;
    font-weight: 550;
    margin: 0 0.5em 0 0;
}

.tabButton.activeTab {
    color: #c93c2c;
    text-decoration: underline;
    text-decoration-color: #c93c2c;
    text-underline-offset: 0.22em;
    text-decoration-thickness: 0.15em;
}

.interventionsTable table {
    border-collapse: collapse;
}

.interventionsTable th,
.interventionsTable td {
    text-align: start;
    padding: 0.6em;
    border-bottom: 0.06em solid #d3d3d3;
}

.interventionsTable th {
    font-weight: 550;
}

.divider {
    border-bottom: 0.06em solid #d3d3d3;
}
