.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    margin: 50px 20px 0 250px;
}
.pro,
.part {
    width: 100%;
}

.company {
    margin-left: 1em;
}

.backButton {
    display: flex;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-size: 1em;
    cursor: pointer;
    margin-left: auto;
}

.backButton i {
    transform: rotate(180deg);
}

.alignBackButton {
    display: flex;
    width: 75%;
    align-items: center;
}

.alignBackButton img {
    width: 150px;
    height: 150px;
}

.names {
    display: flex;
}

.lastname,
.firstname {
    margin: 10px 0 0 50px;
    font-size: 40px;
    font-weight: 550;
    text-transform: capitalize;
}

.lastnamePro,
.firstnamePro {
    font-size: 1.25em;
    font-weight: 550;
    text-transform: capitalize;
}

.lastname,
.company {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 550;
}

.profilInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.separation {
    background-color: black;
    height: 1px;
    width: 75%;
    margin-top: 20px;
}

.eventInfo {
    display: flex;
}

.eventInfo p {
    margin: 0;
}

.contactInfo {
    font-size: 1.25em;
}

.contactInfo p {
    margin: 8px;
}

.button {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
}
