/* style de la modal */
.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%; /* Ajustez la largeur selon vos besoins */
    height: 100%;
    border-top-left-radius: 1.25em;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start; /* Aligne le contenu en haut */
    justify-content: flex-end; /* Aligne le contenu à droite */
    z-index: 1000; /* Assurez-vous que la modale est au-dessus des autres éléments */
}

/* CSS for input & label */
.labelInput {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.6em;
}

/* CSS for input comportement */
.labelInput input,
.labelInput textarea {
    display: flex;
    padding: 0.6em;
    border: 0.06em solid #cccccc;
    border-radius: 0.5em;
    width: 100%;
}

/* Specific styles for cancel button */
.cancelButton {
    background-color: #ababab;
}

/* Specific styles for submit button */
.submitButton {
    background-color: #c93c2c;
}

/* Harmonized modal styles */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: white;
    box-shadow: -0.125em 0 0.313em rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 1.25em;
    border-top-left-radius: 1.25em;
    display: none;
}

.modal.open {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.modalFooter {
    display: flex;
    gap: 1em;
}

.modalFooter button {
    padding: 0.4em 1em;
    border: none;
    color: #fff;
    border-radius: 0.4em;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.modalFooter button:hover {
    background-color: #424242;
    color: white;
}

.separator {
    margin: 1em 0;
    border-bottom: 0.063em solid #ccc;
}

.eventLabels {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.labelInput select {
    padding: 0.5em;
    border: 0.06em solid #cccccc;
    border-radius: 0.4em;
}
