.container {
    display: flex;
    flex-direction: column;
    margin: 2em 1.25em 0 15.6em;
}

/* placement et style du titre de la page */
.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
}

.separation {
    margin: 1em 0;
    border-bottom: 0.063em solid #ccc;
}

/* CSS for input comportement */
.labelInput input {
    padding: 0.55em;
    border: 0.05em solid #cccccc;
    border-radius: 0.4em;
    width: 30%;
}

/* CSS for the label comportement */
.labelInput label {
    margin-bottom: 0.5em;
}

/* CSS for button positioning */
.buttonPosition {
    display: flex;
    gap: 1em;
    margin-top: 1.2em;
    margin-bottom: 1.25em;
}

/* CSS for cancel button */
.cancelButton {
    background-color: #9c9c9c;
    padding: 0.5em 0.9em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1em;
    display: flex;
    align-items: center;
}

/* CSS for create button */
.submitButton {
    background-color: #c93c2c;
    padding: 0.5em 0.9em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.submitButton i {
    margin-right: 0.5em;
}

.formElements {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
