.container {
    display: flex;
    flex-direction: column;
    margin: 2em 1.25em 0 15.6em;
}

.pageTitle {
    font-size: 1.9em;
    font-weight: 550;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.companyLogo {
    height: 130px;
}

.addEmployee {
    background-color: #c93c2c;
    padding: 0.625em 0.938em;
    border: none;
    border-radius: 0.625em;
    color: white;
    font-size: 1.125em;
    font-weight: 500;
    cursor: pointer;
    margin: 0.625em 1.25em;
}

a {
    text-decoration: none;
}

.separator {
    margin: 0.7em 0;
    border-bottom: 0.063em solid #ccc;
}

.editButton {
    background-color: #ccc;
    padding: 0.5em 0.8em;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin: 1em 0em;
    transition: 0.1s;
}

.editButton:hover {
    background-color: #c93c2c;
    color: white;
}

.editButton i {
    margin-right: 0.5em;
    font-size: 0.8em;
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.companyLogo {
    margin: 1em 0;
}

.addCompany {
    background-color: #c93c2c;
    padding: 0.5em 0.9em;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-size: 1.125em;
    font-weight: 500;
    cursor: pointer;
    margin: 2em 0em;
}

.addCompany i {
    margin-right: 0.5em;
}

.addCompanyText {
    font-size: 1.1em;
    margin-top: 1em;
}

.companyInfos {
    font-weight: 500;
}
