.modalOverlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background: white;
    padding: 1.2em;
    border-radius: 0.5em;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border: 1px solid #cbcbcb;
}

.closeButton {
    color: #fff;
    background: #c93c2c;
    border: none;
    display: flex;
    position: fixed;
    padding: 0.3em 0.2em;
    border-radius: 0.3em;
    font-size: 1em;
    cursor: pointer;
    align-self: flex-end;
}

.closeButton:hover {
    background: #a72b1c;
}

.event-hover:hover {
    transform: scale(1.01);
}

.modalLabels {
    font-weight: 500;
}
